{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">Who am I</p>
                <form class="login" method="post" action="/">
	                <input type="text" placeholder="First Name" id="firstNm" value="{{ request.form.firstNm }}" name="firstNm" required="" />
	                <input type="text" placeholder="Last Name" id="lastNm" value="{{ request.form.lastNm }}" name="lastNm" required="" />
	                <input type="submit" value="Go" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
    <div class="posted-by">Posted By: <a href="#">Brian</a></div>
</div>
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}